nav {
    background-color: #f87b7b; /* Example background color */
    padding: 10px; /* Add some padding */
    display: flex;
    

}

nav a {
    text-decoration: none;
    padding: 5px 10px; /* Space around the links */
    color: #333; /* Link color */
}

nav a:hover {
    background-color: #e0e0e0; /* Change background on hover */
    border-radius: 5px; /* Rounded corners on hover */
}
nav img:hover {
    background-color: #e0e0e0; /* Change background on hover */
    border-radius: 5px; /* Rounded corners on hover */
}

nav img{
    width: 2px;
    margin-left: auto;
}
