 body{
   height: 100%;
    margin: 0;
    padding: 0;
  
}
nav {
    height: 10%;
    background-color: #f87b7b; /* Example background color */
    padding: 10px; /* Add some padding */
    display: flex;
    margin: 0;
}

nav a {
    text-decoration: none;
    padding: 5px 10px; /* Space around the links */
    color: #333; /* Link color */
}

nav a:hover {
    background-color: #e0e0e0; /* Change background on hover */
    border-radius: 5px; /* Rounded corners on hover */
}
nav img:hover {
    background-color: #e0e0e0; /* Change background on hover */
    border-radius: 5px; /* Rounded corners on hover */
}

nav img{
    width: 30px;
    margin-left: auto;
}

main{
    height: 50%;
    margin-left: 2rem;
    margin-right: 2rem;
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    gap: 20px; /* Espaço entre os itens da grade */
    padding: 10px; /* Espaçamento interno */
}

.grid-item {
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse os limites */
    border: 1px solid #ccc; /* Borda opcional */
    padding: 5px; /* Espaçamento interno */
    background-color: #fff; /* Cor de fundo para o item */
}

.item-content {
    display: flex; /* Usar Flexbox para alinhar a imagem e o texto */
    text-decoration: none;
    color: inherit;
}

.item-content img {
    width: 100px; /* Defina uma largura máxima para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */

    border: solid #333 2px;
    display: block;
    

}

.text-content h1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin: 0; 
}

.text-content p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;              /* Esconde o texto que excede o limite */
    text-overflow: ellipsis;  
    margin: 0;

}

footer{
    height: 20%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    

}


/* Media query para telas menores */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* Uma coluna */
    }

    .item-content {
        flex-direction: row; /* Mantém a imagem à esquerda e o texto à direita */
        align-items: flex-start; /* Alinha o texto ao topo */
    }

    .item-content img {
        margin-right: 5px; /* Remove margem à direita da imagem */
        margin-bottom: 10px; /* Adiciona espaço abaixo da imagem */
    }
}
